<div class="db edit data-form">
  <% if (currentUser && ((job.creator && currentUser._id.toString() === job.creator.toString()) || currentUser.isAdmin)) { %>
    <h2>Edit job:</h2>
      <form method="POST" action="<%=`/jobs/${job._id}/update?_method=PUT`%>">
        
        <label for="inputTitle">Title</label>
        <input type="text" name="title" id="inputTitle" value="<%= job.title %>" placeholder="Title" autofocus required />
    
        <label for="inputCompany">Company</label>
        <input type="text" name="company" id="inputCompany" value="<%= job.company %>" placeholder="Company" required />
    
        <label for="inputLocation">Location</label>
        <input type="text" name="location" id="inputLocation" value="<%= job.location %>" placeholder="Location" required />
    
        <label for="inputDescription">Description</label>
        <textarea name="description" id="inputDescription" placeholder="Description"><%= job.description %></textarea>
    
        <label for="inputRequirements">Requirements</label>
        <input type="text" name="requirements" id="inputRequirements" value="<%= job.requirements %>" placeholder="Requirements" required />
    
        <label for="inputSalary">Salary</label>
        <input type="number" name="salary" id="inputSalary" value="<%= job.salary %>" placeholder="Salary" required />
    
        <label for="inputContactEmail">Contact Email</label>
        <input type="email" name="contactEmail" id="inputContactEmail" value="<%= job.contactEmail %>" placeholder="Contact Email" required />
    
        <label for="inputContactPhone">Contact Phone</label>
        <input type="text" name="contactPhone" id="inputContactPhone" value="<%= job.contactPhone %>" placeholder="Contact Phone" required />
    
        <label for="inputPostDate">Post Date</label>
        <input type="date" name="postDate" id="inputPostDate" value="<%= job.postDate.toISOString().split('T')[0] %>" />
    
        <label for="inputDeadlineDate">Deadline Date</label>
        <input type="date" name="deadlineDate" id="inputDeadlineDate" value="<%= job.deadlineDate.toISOString().split('T')[0] %>" required />
    
        <label for="inputIsActive">Is Active</label>
        <input type="checkbox" name="isActive" id="inputIsActive" <% if (job.isActive) { %>checked<% } %> />
    
        <button type="submit">Update</button>
      </form>
  <%} else {%>
    <h2>This page is only accessible to logged in users who created this job or is the Admin.</h2>
  <% } %>
  </div>
  